@import "colors.css";

*{
	font-family: FantasqueSansMono Nerd Font;
	font-size: 20px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}

#workspaces button {
	background-color: transparent;
	color: #ffffff;
}

#custom-music,
#tray,
#custom-gpu-temp,
#clock,
#pulseaudio,
#custom-lock,
#temperature,
#custom-power {
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio:hover {
	background-color: transparent;
	color: #ffffff;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    color: @lavender;
}

#custom-gpu-temp {
  color: @green;
  border-style: solid;
  border-color: #ffffff;
}

#temperature {
	color: @red;
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}